@import "~antd/lib/style/themes/default.less";

.pageTitle {
    background-color: #F3F3F3;
    padding: 20px 40px;
    margin: 0;
    color: #333;
    border: 1px solid #E6E6E6;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    letter-spacing: 0;
}

.pageBox {
    border: 1px solid #E6E6E6;
    .ant-card {
        border-radius: 0 0 8px 8px;
    }
}




.content{
    width: 1268px;
    height: 730px;
    background: #FFFFFF;
    margin: 0 auto;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.05);
    border-radius: 8px;
}
.addrili{
    font-size: 20px;
 /*   border:1px solid #f00;*/
    height:60px;
 /*   width:45%;*/
    /*margin:0 auto;*/
     padding-left: 30px;
    border-bottom:1px solid #ccc;
    line-height: 60px;
}
.table{
   /*margin:0 auto;*/
   /*border:1px solid #f00;*/
   width:45%;
   margin-top: 60px;
   margin-bottom: 290px;
   margin-left: 50px;
}
.table td{
/*    border:1px solid #f00;*/
}
.table tr{
    height:60px;
}
.tree{
    height:50px;
    overflow:auto;
}
.rightKuang{
    vertical-align: top;
}
.jiange{
    display: inline-block;
    width:20px;
}
.leftKuang{
    text-align: right;
    vertical-align: top;
}
.leftKuang1{
    text-align: right;
    vertical-align: top; 
}
.del{
 /*  border:1px solid #f00;*/
   text-align: center;
   color:#1478e3;
   position: absolute;
   left:70px;
}
.del div{
    /* border:1px solid #f00;
     width*/
}
.delete{
    font-size: 20px;
    margin: 0 auto;
}
.di{
    border-top:1px solid #ccc;
    margin-top: 30px;
    padding-top: 15px;
    padding-right: 10px;
    text-align: right;
    width:100%;
    position: relative;
}
