@import "~antd/lib/style/themes/default.less";

.pageTitle {
    background-color: #F3F3F3;
    padding: 20px 40px;
    margin: 0;
    color: #333;
    border: 1px solid #E6E6E6;
    border-radius: 8px 8px 0 0;
    font-size: 16px;
    letter-spacing: 0;
}

.pageBox {
    border: 1px solid #E6E6E6;
    .ant-card {
        border-radius: 0 0 8px 8px;
    }
}
