@import "~antd/lib/style/themes/default.less";

.main{
    width: 1268px;
    height: 919px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.05);
    border-radius: 8px;
    margin-left: 90px;
    .showHeader{
        width: 100%;
        background:#fff;
        padding-top: 27px;
        .showName{
            width: 137px;
            height: 31px;
            display: inline-block;
            font-family: MicrosoftYaHei;
            font-size: 18px;
            color: #333333;
            margin-left: 25px;
        }
        .weekChange{
            width: 145px;
            height: 32px;
            line-height: 32px;
            display: inline-block;
            font-family: MicrosoftYaHei;
            font-size: 18px;
            color: #333333;
            text-align: center;
            .weekChangeBtn{
                width: 40px;
                height: 32px;
                background: #FFFFFF;
                border: 1px solid #D9D9D9;
                border-radius: 4px;
            }
        }
        .viewChange{
            list-style: none;
            display: inline-block;
            width: 103px;
            height: 32px;
            line-height: 32px;
            padding: 0;
            background: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 4px;
            .barsLi{
                display: inline-block;
                width: 49px;
                height: 80%;
                text-align: center;
            }
            .barsLi:hover{
                color: #108EE9;
            }
            .calendarLi{
                display: inline-block;
                width: 49px;
                height: 80%;
                text-align: center;
            }
            .calendarLi:hover{
                color: #108EE9;
            }
            .borderLi{
                display: inline-block;
                width: 2px;
                height: 14px;
                background: #CCCCCC;
            }
        }
        .newInvitation{
            float: right;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #FFFFFF;
            text-align: left;
            line-height: 21px;
            margin-right: 15px;
        }
        .confirmationSchedule{
            float: right;
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: #FFFFFF;
            text-align: left;
            line-height: 21px;
            margin-right: 7px;
        }
    }
    .weekTable{
        tr{
            width: auto;
            border: 1px solid #D9CDEC;
            th{
                border: 1px solid #E8E8E8;
                width: auto;
            }
            td{
                border: 1px solid #E8E8E8;
                width: auto;
            }
        }
        tr>td:first-child{
            background: #F9F6FF;
            text-align: center;
            font-family: MicrosoftYaHei;
            font-size: 16px;
            color: #6D14F7;
        }
        tr>th:first-child{
            background: #F9F6FF;
            text-align: center;
            font-family: MicrosoftYaHei;
            font-size: 16px;
            color: #6D14F7;
        }
    }
}

